extends ../layout

block title
	title РААСН

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)


mixin trimString(str)
	- for (var i = 250; i < str.length; i++)
		- if (str[i] == '.' || str[i] == '?' || str[i] == '!')
			- str = str.substr(0, i+1)
	!= str + '..'

block content
	.content_title Последние новости
	.posts_block
		each post in posts
			.post_item
				.post_title_block
					- var month = (post.date.getMonth() + 1) <= 9 ? '0' + (post.date.getMonth() + 1) : (post.date.getMonth() + 1)
					- var date = post.date.getDate() <= 9 ? '0' + post.date.getDate() : post.date.getDate()
					.post_date= date + '.' + month
					a.post_title(href='/posts/' + post._id)= post.title.ru
				.post_description
					+trimString(post.description.ru)